In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("Iris_1.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df1=df.copy(deep=True)
df1.isna().sum() #checking of null values

Id               0
SepalLengthCm    2
SepalWidthCm     3
PetalLengthCm    4
PetalWidthCm     6
Species          0
dtype: int64

In [3]:
df1.head(25)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            NaN           NaN  Iris-setosa
6    7            NaN           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           NaN            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            NaN           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           NaN            1.7           0.2  Iris-setosa
21  22            5.1           3.7            NaN           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           NaN  Iris-setosa
24  25            4.8           3.4            1.9           NaN  Iris-setosa

In [9]:
df1["SepalLengthCm"].fillna(7.8, inplace=True)
df1.head(25)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            NaN           NaN  Iris-setosa
6    7            7.8           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           NaN            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            7.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           NaN            1.7           0.2  Iris-setosa
21  22            5.1           3.7            NaN           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           NaN  Iris-setosa
24  25            4.8           3.4            1.9           NaN  Iris-setosa

In [11]:
df1["SepalLengthCm"].fillna(7.7, inplace=True)
df1.head(26)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            NaN           NaN  Iris-setosa
6    7            7.8           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           NaN            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            7.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           NaN            1.7           0.2  Iris-setosa
21  22            5.1           3.7            NaN           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           NaN  Iris-setosa
24  25            4.8           3.4            1.9           NaN  Iris-setosa
25  26            5.0           3.0            1.6           NaN  Iris-setosa

In [12]:
med=df1["SepalLengthCm"].median()
df1["SepalLengthCm"]=df1["SepalLengthCm"].fillna(med)
df1.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            NaN           NaN  Iris-setosa
6   7            7.8           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           NaN            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [14]:
me=df1["PetalLengthCm"].mean()
df1["PetalLengthCm"]=df1["PetalLengthCm"].fillna(me)
df1.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5       1.400000           0.2  Iris-setosa
1   2            4.9           3.0       1.400000           0.2  Iris-setosa
2   3            4.7           3.2       1.300000           0.2  Iris-setosa
3   4            4.6           3.1       1.500000           0.2  Iris-setosa
4   5            5.0           3.6       1.400000           0.2  Iris-setosa
5   6            5.4           3.9       3.820548           NaN  Iris-setosa
6   7            7.8           3.4       1.400000           0.3  Iris-setosa
7   8            5.0           3.4       1.500000           0.2  Iris-setosa
8   9            4.4           NaN       1.400000           0.2  Iris-setosa
9  10            4.9           3.1       1.500000           0.1  Iris-setosa

In [16]:
df1=df1.dropna(subset=["PetalLengthCm"],axis=0)
df1.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5       1.400000           0.2  Iris-setosa
1   2            4.9           3.0       1.400000           0.2  Iris-setosa
2   3            4.7           3.2       1.300000           0.2  Iris-setosa
3   4            4.6           3.1       1.500000           0.2  Iris-setosa
4   5            5.0           3.6       1.400000           0.2  Iris-setosa
5   6            5.4           3.9       3.820548           NaN  Iris-setosa
6   7            7.8           3.4       1.400000           0.3  Iris-setosa
7   8            5.0           3.4       1.500000           0.2  Iris-setosa
8   9            4.4           NaN       1.400000           0.2  Iris-setosa
9  10            4.9           3.1       1.500000           0.1  Iris-setosa